[submodule "src/3rdParty/nlohmann/json"]
	path = src/3rdParty/nlohmann/json
	url = https://github.com/nlohmann/json.git

[submodule "src/3rdParty/lua"]
	path = src/3rdParty/lua
	url = https://github.com/lua/lua.git

[submodule "src/3rdParty/luawrapper"]
	path = src/3rdParty/luawrapper
	url = https://github.com/ahupowerdns/luawrapper

[submodule "src/3rdParty/asio"]
	path = src/3rdParty/asio
	url = https://github.com/chriskohlhoff/asio.git

[submodule "src/3rdParty/embed2-sapi"]
	path = src/3rdParty/embed2-sapi
	url = https://github.com/basvanbeek/embed2-sapi.git
