# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
.idea
bin
dist/bin
lib
releases
cmake-build-debug

# git modules
src/3rdParty/nlohmann/json
src/3rdParty/sqlite-cpp
src/3rdParty/lua

# sqlite libraries and dependencies
src/3rdParty/sqlite/.libs
src/3rdParty/sqlite/.deps

# zlib library
src/3rdParty/zlib/lib